---
import Layout from '../../../layouts/Layout.astro';
import SkeletonMovie from '../../../components/sketeletonMovie.astro';
import Slider from '../../../components/slider.astro';

const { id } = Astro.params

---

<Layout title="Post">
    <main class="grid mx-auto my-10 justify-items-center gap-9">
        <SkeletonMovie id={id} client:load/>

        <Slider id={id}/>
    </main>

</Layout>