---

---

<header class={ "w-full flex justify-between py-2 px-16" }>
    <a href="/">
        <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="Logo Page" class={ "w-52" }>
    </a>

    <nav>
        <ol class={ "flex gap-28 [&>li]:text-xl" }>
            <li>
                <a href="/movie">
                    Peliculas
                </a>
            </li>
            <li>
                <a href="">
                    Series
                </a>
            </li>
            <li>
                <a href="">
                    Personas
                </a>
            </li>
        </ol>
    </nav>

</header>