---
import { getVideosById } from '../services/api';
import Videos from '../components/videos.astro';

interface Props {
    id: string;
}

const { id } = Astro.props;


const data = await getVideosById(id);


let cont = 0;

---



<h2>Videos</h2>

<section class="snap-mandatory snap-x flex gap-4 overflow-x-auto w-11/12 md:w-9/12 lg:w-8/12">
    
    {
        data.map((video) => (
            cont++,
            (cont < 7) ? <Videos key={video.key}/> : null
        ))
    }
</section>
