---
import { getVideosById } from '../services/api';
import Videos from '../components/videos.astro';

interface Props {
    id: string;
}

const { id } = Astro.props;


const data = await getVideosById(id);

console.log(data);

let cont = 0;

---



<h2>Videos</h2>

<section class="snap-mandatory snap-x flex gap-4 w-1/2 overflow-x-auto">
    
    {
        data.map((video) => (
            cont++,
            (cont < 7) ? <Videos key={video.key}/> : ""
        ))
    }
</section>
