---

interface Props {
    key: string;
    cantidad: number;
}

const { key, cantidad } = Astro.props;


---

<div class={(cantidad == 1) ? `snap-center shrink-0 rounded-xl overflow-hidden shadow-lg w-full` : `snap-center shrink-0 w-4/5 overflow-hidden shadow-lg rounded-xl` }>
    <lite-youtube 
        class=""
        videoid=`${key}`
        videotitle=`Videos`
    >
    </lite-youtube>
</div>

<script>
    import "@justinribeiro/lite-youtube"
</script>
