---

interface Props {
    key: string;
}

const { key } = Astro.props;


---

<div class="snap-center shrink-0 w-4/5 rounded overflow-hidden shadow-lg">
    <lite-youtube 
        class=""
        videoid=`${key}`
        videotitle=`Videos`
    >
    </lite-youtube>
</div>

<script>
    import "@justinribeiro/lite-youtube"
</script>
