---
import MovieTarget from '../../components/MovieTarget.astro';
import Layout from '../../layouts/Layout.astro';
import { getMovies } from '../../services/api';
import Numberpages from '../../components/Numberpages.astro';


let page = Astro.url.searchParams.get('page');
(page == null) ? page = "1" : page = page;
console.log(page);

if(parseInt(page) <= 0 || parseInt(page) > 500) return Astro.redirect('/404');


const data = await getMovies(page);

console.log(data);

export const prerender = true;

---

<Layout 
title="Peliculas Populares | Movie Info" 
description="Ver todas las peliculas populares"
metaImage=https://ibb.co/cCKxmKM"
metaImageAlt="Pagina Principal de peliculas populares"
>
	<main class= { "grid justify-items-center gap-5" }>
		<h2 class={ "text-3xl" }>Peliculas</h2>
		<section class={ "grid gap-7 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5" }>
			{	
				data.map((movie) => (
					<MovieTarget title={ movie.title } date={ movie.release_date } poster_path={movie.poster_path} adult={movie.adult} id={movie.id}/>
				))
			}
		</section>
	</main>

	<Numberpages page={page}/>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		font-weight: bold;
	}
</style>
