---
import { getCastMovie } from '../../services/api';
import TargetReparto from './targetReparto.astro';




interface Props {
    id: string;
}

const { id } = Astro.props;


const cast = await getCastMovie(id);
console.log(cast);


let cont = 0;
---

<article class="grid justify-items-center">
    <h2 class="text-lg font-semibold text-black dark:text-white">Reparto</h2>
    
    <section class="snap-mandatory snap-x flex gap-8 overflow-x-auto w-11/12 md:w-9/12 lg:w-8/12 mt-3">
        {
            cast.map((actor) => {
                cont++;
                if (cont < 11) {
                    return <TargetReparto name={actor.name} id={actor.id} profile_path={actor.profile_path} character={actor.character} />
                }
            })
        }
    </section>

</article>
