---
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import { ViewTransitions, slide } from 'astro:transitions';


interface Props {
	title: string;
	description: string;
	metaImage?: string;
	metaImageAlt?: string;
}

const { title, description, metaImage, metaImageAlt } = Astro.props;



---

<!doctype html>
<html lang="es"> 
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ description } />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="index, follow" />
		<meta property="og:title" content={ title } />
		<meta property="og:description" content={ description } />
		<meta property="og:image" content={metaImage} />
		<meta property="og:image:alt" content={metaImageAlt} />

		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 51, 255, 51;
		--accent-light: 204, 255, 204;
		--accent-dark: 153, 255, 153;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #060f25;
		background-size: 224px;
		color: white;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
